@model BuildingBlock.DTOS.HomeDTO;
@{
    ViewData["Title"] = "Nguyễn Tiến Linh - Home Page";
    Layout = "_Layout";
    var userName = (string)TempData["currentUser"];
    var carouselAvtiver = 0;
}
<div class="carouselWrap">
    <div class="rl shower">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach(var x in Model.BackGroudDTOs)
                {
                    @(++carouselAvtiver)
                    <div class="carousel-item @(carouselAvtiver==1?"active":"")" data-bs-interval="@x.TimeInterval">
                        <img src="assets/ntlinh/@x.Image" alt="" class="" style="width: 100%" loading="lazy" />
                    </div>
                }
               
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        @if (!string.IsNullOrEmpty(userName))
        {
            <button class="btn-warping">Manage Backgroud</button>

        }
    </div>
   

    <div class="container">

        @foreach (var item in Model.CategoriesDTOs)
        {
            <div class="row mt-5">
                <div class="col-lg-2 col-3">

                    <h1 class="title">
                        <span class="textDeco" data-param="@item.IdCategories">
                            @item.CategoryName
                        </span>
                        @if(!string.IsNullOrEmpty(userName)){
                        <div class="textDeco-child   mt-3 text-center" data-param="@item.IdCategories">
                            Manage Videos
                        </div>
                        }
                    </h1>
                </div>
                <div class="col-lg-10 col-9 imgWrap redirecter" data-param="@item.IdCategories">
                    <span>
                        <img src="assets/projects/@item.BrandingImage" class="imgFadeIn" />
                    </span>
                </div>
            </div>
        }


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.redirecter').click(function (event) {
            event.preventDefault(); // Prevent the default link behavior

            // Get parameters from data attributes
            var paramId = $(this).data('param');
            $.ajax({
                type: "POST",
                url: '@Url.Action("RedirectMyWorkPartialView", "MyWork")',
                data: { id: paramId },
                success: function (response) {
                    window.location.href = response.redirectToUrl + '/' + paramId;

                },
                error: function () {
                    alert('Error occurred while calling the method.');
                }
            });
        });
        $('.textDeco-child').click(function (event) {
            event.preventDefault(); // Prevent the default link behavior

            // Get parameters from data attributes
            var paramId = $(this).data('param');

            var urlRedirect = "/Mywork/Manage?categoriesId=" + paramId;
            $.ajax({
                type: "GET",
                url: urlRedirect,
                data: { id: paramId },
                success: function (response) {
                    window.location.href = urlRedirect;

                },
                error: function () {
                    alert('Error occurred while calling the method.');
                }
            });
        });
        $('.textDeco').click(function (event) {
            event.preventDefault(); // Prevent the default link behavior

            // Get parameters from data attributes
            var paramId = $(this).data('param');


            $.ajax({
                type: "POST",
                url: '@Url.Action("RedirectMyWorkPartialView", "MyWork")',
                data: { id: paramId },
                success: function (response) {
                    window.location.href = response.redirectToUrl + '/' + paramId;

                },
                error: function () {
                    alert('Error occurred while calling the method.');
                }
            });
       
        });
        
        $('.btn-warping').click(function (event) {
            event.preventDefault(); // Prevent the default link behavior
            var urlRedirect = "/Home/Manage"
            window.location.href = urlRedirect;

        });
    });
</script>