@model  IEnumerable<BuildingBlock.DTOS.BackGroudDTO>;
@{
    int indexer = 0;
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
}
<div class="row modelContainer">
    <div class="col-lg-8 offset-lg-2 col-12">
        <div class="row mt-3 mb-0">
        
            <div class="col-lg-12 d-flex justify-content-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#create" class="btn btn-outline-primary">Thêm mới background </button>
            </div>
        </div>
        <table class="table caption-top table-bordered table-responsive">
            <caption>Danh sách ảnh back ground</caption>  
    </div>
    <thead>
        <tr>
            <th scope="col" class="th-image" style="width:40%">Ảnh</th>
            <th scope="col" class="th-time" style="width:14%">Khoảng thời gian (ms)</th>
            <th scope="col" class="th-action" style="width:12%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>

                <td><img src="/assets/ntlinh/@item.Image" class="rounded cate-img" alt="..."></td>
                <td>@item.TimeInterval</td>
                <td>
                    <button type="button" data-param-id="@item.IdBackGround" data-param-img="@item.Image" data-param-time="@item.TimeInterval" data-bs-toggle="modal" data-bs-target="#update" class="btn btn-outline-warning">Sửa</button>
                    <button type="button" class="btn btn-outline-danger" data-param-id="@item.IdBackGround" data-bs-toggle="modal" data-bs-target="#delete">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
    </table>
</div>

<div class="modal fade " id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form asp-action="UpdateBackground" enctype="multipart/form-data" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Ảnh back ground: <span class="text-danger">*</span></label>
                        <img src="" id="preview-img-update" class="rounded cate-img" alt="...">
                        <input name="photo" type="file" id="fileInput-update"
                               class="form-control" style="margin-top:12px;" />
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Khoảng thời gian(ms): <span class="text-danger">*</span></label>
                        <input type="number" name="TimeInterval" class="form-control" required id="TimeInterval-update">
                    </div>
                    <div>
                        <input id="TimeInterval-update" hidden name="TimeInterval"  class="form-control" />
                        <input id="Image-update" hidden name="Image"  class="form-control" />
                        <input id="IdBackGround-update" hidden name="IdBackGround" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade " id="create" tabindex="-1" aria-labelledby="exampleModalLabelCreate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form asp-action="CreateBackground" enctype="multipart/form-data" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Ảnh back ground: <span class="text-danger">*</span></label>
                        <img src="" id="preview-img-create" class="rounded cate-img" alt="...">
                        <input name="photo" type="file" id="fileInput-create" style="margin-top:12px;"
                               class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Khoảng thời gian(ms): <span class="text-danger">*</span></label>
                        <input type="number" name="TimeInterval" class="form-control" required id="TimeInterval-create">
                    </div>
                    <div>
                        <input id="TimeInterval-create" hidden name="TimeInterval" class="form-control" />
                        <input id="Image-create" hidden name="Image" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade " id="delete" tabindex="-1" aria-labelledby="exampleModalLabelCreate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form asp-action="DeleteBackground" enctype="multipart/form-data" style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input hidden name="IdBackGround" id="IdBackGround_Delete" class="form-control" />
                    Bạn có chắc muốn xóa danh mục này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#update').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var valueTime = button.data('param-time');
            var valueImg = button.data('param-img');
            var id = button.data('param-id');
            var modal = $(this);
            $('#preview-img-update').attr('src', `/assets/ntlinh/${valueImg}`);
            $('#TimeInterval-update').val(valueTime);
            $('#Image-update').val(valueImg);
            $('#IdBackGround-update').val(id);
        });
   
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('param-id');
            var modal = $(this);
            $('#IdBackGround_Delete').val(id);
        });

        $('#create').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var valueTime = button.data('param-time');
            var valueImg = button.data('param-img');
            var id = button.data('param-id');
            var modal = $(this);
            $('#preview-img-create').attr('src', `/assets/projects/empty.png`);
            $('#TimeInterval-create').val(valueTime);
            $('#Image-create').val(valueImg);
        });

        $('#fileInput-update').on('change', function (event) {
            console.log(1)
            var formData = new FormData();
            var file = $('#fileInput-update')[0].files[0];
            if (file) {
                formData.append('photo', file);
            }
            $.ajax({
                url: '@Url.Action("HandleFileChange", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#preview-img-update').attr('src', `/assets/ntlinh/${response.imgNew}`);
                    $('#Image-update').val(response.imgNew);
                },
                error: function (xhr, status, error) {
                }
            });
        });

        $('#fileInput-create').on('change', function (event) {
            var formData = new FormData();
            var file = $('#fileInput-create')[0].files[0];
            if (file) {
                formData.append('photo', file);
            }
            $.ajax({
                url: '@Url.Action("HandleFileChange", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response.imgNew);
                    $('#preview-img-create').attr('src', `/assets/ntlinh/${response.imgNew}`);
                    $('#Image-create').val(response.imgNew);
                },
                error: function (xhr, status, error) {
                }
            });
        });
    });
</script>
@section scripts {
    <script type="text/javascript">
        @Html.Raw(ViewBag.SweetAlertShowMessage)
    </script>
}